node_modules
dist
logs

# Environment variables
.env
.env.local
.env.production

# Prisma generated
/generated/prisma
binance_rsa_private.pem
binance_rsa_public.pem
*.log
check-*.ts
cleanup-*.ts
count-*.ts
final-cleanup.ts
resolve-*.ts
resolver-*.ts
run-*.ts
test-*.ts
